body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

.container{
    width:24rem;
}
.vertical{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.card{
    width:22rem;
    margin:auto;
    padding:15px;
}

.header{
    margin-bottom: 15px !important;
    background-color: hsl(10, 79%, 65%);
    color:white;
    height:80px;
}

.col-md-6 img{
    float: right;
    width:60px;
}

.balance{
    font-size: 12px;
}

.main-body{
    background-color: hsl(33, 100%, 98%);
}

hr{
    position: relative;
    top:20px;
}

.increment{
    float: right;
}




